@font-face {
    font-family: 'josefinslab-bold';
    src: url('../fonts/JosefinSlab-Bold.ttf'), format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'josefinslab-regular';
    src: url('../fonts/JosefinSlab-Regular.ttf'), format('truetype');
}

@font-face {
    font-family: 'josefinslab-thin';
    src: url('../fonts/JosefinSlab-Thin.ttf'), format('truetype');
}

@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'quicksand-bold';
    src: url('../fonts/Quicksand-Bold.otf');
}

body{
	margin: 0;
	padding: 0;
	font-family: 'quicksand-regular';
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}

*{
	color: #000;
	font-family: 'quicksand-regular';
	-webkit-box-sizing: none;
	box-sizing: none;
}

#container{
	padding:40px;
	padding-top: 0px;
	width: 1180px;
	margin: 0 auto;
}

#leftContainer{
	display: inline-block;
	vertical-align: top;
	width: 760px;
	border-right: 1px solid #dcdcdc; 
}

#rightContainer{
	display: inline-block;
	width: 340px;
	vertical-align: top;
	margin: 10px;
	padding: 10px;
	padding-left: 10px;
}

.resumeBlocks{
	margin: 5px;
	padding: 5px;
}

.resumeBlocks h3{
	margin: 0;
	padding-bottom: 20px;
	color: #CB212E;
	font-size: 24px;
	font-family: 'quicksand-bold';
}

.sideBlocks{
	margin: 10px;
	padding: 10px;
}

.sideBlocks h3{
	margin: 0;
	padding-bottom: 10px;
	color: #CB212E;
}

.sideBlocks p{
	margin: 4px;
}

.dates{
	color: #CB212E;
	font-weight: bold;
}

#profile{
}

#profile img{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: middle;
	filter:grayscale(1);
	-webkit-filter:grayscale(1);
	-moz-filter:grayscale(1);
	-o-filter:grayscale(1);
}

#profileText{
	display: inline-block;
	height: 100px;
	vertical-align: middle;
	padding: 10px;
	margin-left: 20px;
	padding-top: 30px;
}

#profileText h1, #profileText p{
	margin: 0;
	padding: 0;
}

#profileText h1{
}

#profileText p{
	margin: 2px;
}

#profileSummary{
	border-left: 1px solid #dcdcdc;
	padding-left: 20px;
	padding-right: 100px;
}

#profileSummary p{
	padding: 4px;
	margin: 0;
}

#summary{
	border-left: 1px solid #dcdcdc;
	padding-left: 20px;
	padding-right: 30px;
	margin-bottom: 20px;
}

#summary p{
	padding: 4px;
	margin: 0;
}

.borderBottom{
	padding-top: 4px;
	padding-bottom: 4px;
}

.projectHeading{
	font-size: 18px;
	font-weight: bold;
}

.webURL{
	font-weight: bold;
	color: #0E748C;
	font-size: 14px;
}

.fa{
	width: 20px;
	height: 20px;
	padding-right: 6px;
	text-align: center;
}

a{
	text-decoration: none;
}